@import "tailwindcss";
@import "tw-animate-css";

/* Local fonts */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9585 0.0098 87.4715);
  --foreground: oklch(0.2880 0.0054 106.7310);
  --card: oklch(0.9289 0.0116 84.5794);
  --card-foreground: oklch(0.2880 0.0054 106.7310);
  --popover: oklch(0.9585 0.0098 87.4715);
  --popover-foreground: oklch(0.2880 0.0054 106.7310);
  --primary: oklch(0.5687 0.0636 79.7101);
  --primary-foreground: oklch(0.9873 0.0040 106.4716);
  --secondary: oklch(0.8464 0.0148 84.5867);
  --secondary-foreground: oklch(0.4078 0.0065 106.6864);
  --muted: oklch(0.8987 0.0145 84.5851);
  --muted-foreground: oklch(0.5256 0.0107 106.7633);
  --accent: oklch(0.7774 0.0468 85.8374);
  --accent-foreground: oklch(0.2880 0.0054 106.7310);
  --destructive: oklch(0.4893 0.0895 20.8493);
  --destructive-foreground: oklch(0.9873 0.0040 106.4716);
  --border: oklch(0.8464 0.0148 84.5867);
  --input: oklch(0.8987 0.0145 84.5851);
  --ring: oklch(0.5687 0.0636 79.7101);
  --chart-1: oklch(0.5687 0.0636 79.7101);
  --chart-2: oklch(0.4657 0.0095 106.7624);
  --chart-3: oklch(0.6671 0.0468 81.7176);
  --chart-4: oklch(0.8464 0.0148 84.5867);
  --chart-5: oklch(0.5318 0.0470 82.1241);
  --sidebar: oklch(0.9289 0.0116 84.5794);
  --sidebar-foreground: oklch(0.2880 0.0054 106.7310);
  --sidebar-primary: oklch(0.5687 0.0636 79.7101);
  --sidebar-primary-foreground: oklch(0.9873 0.0040 106.4716);
  --sidebar-accent: oklch(0.8464 0.0148 84.5867);
  --sidebar-accent-foreground: oklch(0.2880 0.0054 106.7310);
  --sidebar-border: oklch(0.8464 0.0148 84.5867);
  --sidebar-ring: oklch(0.5687 0.0636 79.7101);
  --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: EB Garamond, ui-serif, serif;
  --font-mono: Inconsolata, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.28;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 8px 0px hsl(0 0% 0% / 0.14);
  --shadow-xs: 0 1px 8px 0px hsl(0 0% 0% / 0.14);
  --shadow-sm: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 1px 2px -1px hsl(0 0% 0% / 0.28);
  --shadow: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 1px 2px -1px hsl(0 0% 0% / 0.28);
  --shadow-md: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 2px 4px -1px hsl(0 0% 0% / 0.28);
  --shadow-lg: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 4px 6px -1px hsl(0 0% 0% / 0.28);
  --shadow-xl: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 8px 10px -1px hsl(0 0% 0% / 0.28);
  --shadow-2xl: 0 1px 8px 0px hsl(0 0% 0% / 0.70);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2174 0.0019 106.5582);
  --foreground: oklch(0.8931 0.0067 106.5353);
  --card: oklch(0.2512 0.0037 106.6627);
  --card-foreground: oklch(0.8931 0.0067 106.5353);
  --popover: oklch(0.2174 0.0019 106.5582);
  --popover-foreground: oklch(0.8931 0.0067 106.5353);
  --primary: oklch(0.6831 0.0712 80.9242);
  --primary-foreground: oklch(0.2174 0.0019 106.5582);
  --secondary: oklch(0.2964 0.0036 106.6142);
  --secondary-foreground: oklch(0.7040 0.0086 106.6179);
  --muted: oklch(0.2679 0.0036 106.6427);
  --muted-foreground: oklch(0.6377 0.0117 106.7268);
  --accent: oklch(0.3594 0.0172 78.0563);
  --accent-foreground: oklch(0.6831 0.0712 80.9242);
  --destructive: oklch(0.4095 0.0695 20.5219);
  --destructive-foreground: oklch(0.9873 0.0040 106.4716);
  --border: oklch(0.2761 0.0036 106.6338);
  --input: oklch(0.2679 0.0036 106.6427);
  --ring: oklch(0.6831 0.0712 80.9242);
  --chart-1: oklch(0.6831 0.0712 80.9242);
  --chart-2: oklch(0.6377 0.0117 106.7268);
  --chart-3: oklch(0.4818 0.0472 83.4442);
  --chart-4: oklch(0.4078 0.0065 106.6864);
  --chart-5: oklch(0.8931 0.0067 106.5353);
  --sidebar: oklch(0.1953 0.0020 106.5807);
  --sidebar-foreground: oklch(0.7040 0.0086 106.6179);
  --sidebar-primary: oklch(0.6831 0.0712 80.9242);
  --sidebar-primary-foreground: oklch(0.2174 0.0019 106.5582);
  --sidebar-accent: oklch(0.2512 0.0037 106.6627);
  --sidebar-accent-foreground: oklch(0.8931 0.0067 106.5353);
  --sidebar-border: oklch(0.2679 0.0036 106.6427);
  --sidebar-ring: oklch(0.6831 0.0712 80.9242);
  --font-sans: Plus Jakarta Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: EB Garamond, ui-serif, serif;
  --font-mono: Inconsolata, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 8px 0px hsl(0 0% 0% / 0.14);
  --shadow-xs: 0 1px 8px 0px hsl(0 0% 0% / 0.14);
  --shadow-sm: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 1px 2px -1px hsl(0 0% 0% / 0.28);
  --shadow: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 1px 2px -1px hsl(0 0% 0% / 0.28);
  --shadow-md: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 2px 4px -1px hsl(0 0% 0% / 0.28);
  --shadow-lg: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 4px 6px -1px hsl(0 0% 0% / 0.28);
  --shadow-xl: 0 1px 8px 0px hsl(0 0% 0% / 0.28), 0 8px 10px -1px hsl(0 0% 0% / 0.28);
  --shadow-2xl: 0 1px 8px 0px hsl(0 0% 0% / 0.70);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html,
  body,
  #root {
    @apply h-full w-full overflow-hidden bg-background text-foreground;
  }
}

[data-tauri-drag-region] {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
